@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand{
  display: flex;
  width: 100%;
  height: 70px;
  padding-left: 20px;
  background-color: #044d06;
  font-size: 2em;
  color: white;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
  background-color: #1b5e20;
  height: 70px;
  font-size: 2em;
  color: white;
  font-family: "Roboto", sans-serif;
}

.main-content {
  background-color: #f1f6b6;
  padding: 30px;
  font-family: "Roboto", sans-serif;
}

.main-content h2 {
  padding-left: 100px;
  text-align: center;
  font-size: 2em;
  color: #2c641c;
  font-family: "Roboto", sans-serif;
  margin-bottom: 60px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.buttons-container {
  text-decoration: none;
  padding: 80px;
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 2;
}

.portal-button,
.button1 {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding: 20px 30px;
  border-radius: 20px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 40px;
}

.portal-button {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  height: 80px;
  background-color: #044d06;
}

.button1 {
  width: 100%;
  max-width: 250px;
  height: 60px;
  background-color: #044d06;
  font-size: 1rem;
}

.portal-button:hover,
.button1:hover {
  background: linear-gradient(45deg, #2e7d32, #1b5e20);
  border: 2px solid #2e7d32;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  order: 1;
}

.logo-container img {
  width: 100%;
  max-width: 600px;
  height: 500px;
  display: block;
}

.mission-statement p {
  color: #2e7d32;
  font-size: 1.7rem;
  padding-bottom: 40px;
  margin-left: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #044d06;
  color: white;
  font-family: "Roboto", sans-serif;
  flex-wrap: wrap;
}

.messages {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  text-decoration: none;
  color: white;
  padding-left: 10px;
}

.copyright {
  margin-right: 400px;
  text-align: center;
  font-size: 1.5rem;
}
